body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/subscribe-bg.png');
    background-size: cover;

}
.navbar {
    border-radius: 0px;

}

.navbar-brand {
    margin: 0 auto;
    font-size: 30px;
    padding: 0 10px;
    font-weight: bold;
}

.search-container {
    min-height: 87vh;
}

.container .card {
    width: 60%;
    margin: 10px auto;
    padding: 20px;
}
.my-alert {
    width: 60%;
    margin: 10px auto;
}

.form-control {
    border: 1px solid slateblue;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid slateblue;

}

.card-body {
    border: 1px solid slateblue;
}
.card-body a{
    color: black;
}